<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BTO Recommender System</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='reset.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static',filename='jquery-3.2.1.slim.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			var winHeight = $(window).height();
			var spaceHeight = winHeight * 0.9;
			var spaceOffset = winHeight * 0.05;
			$("#space").css({"height": spaceHeight + "px", "margin-top": spaceOffset + "px"});
		});
	</script>
</head>


<body style="background: black url('{{ url_for('static',filename='pexels-photo-135428.jpeg') }}') no-repeat fixed center; background-size: cover;">
<div id="container">
	<div id="space">
		<div class="alert center">Welcome to our BTO Recommender System!</div>
		<div class="linkButton"><button class='btn btn-primary' onclick="location.href='/bto6/units_booked'">Start</button></div>
	</div>
</div>
</body>
</html>
